{{/* Navigation template */}}
{{- $context := .Context -}}
{{- $navigation := $context.Navigation -}}

{{- if eq $context.Format "html" -}}
<header class="header">
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="{{$context.BasePath}}/" class="brand-link">
                <span class="brand-icon">🦫</span>
                <span class="brand-text">Beaver</span>
            </a>
        </div>
        
        <div class="navbar-menu">
            <div class="navbar-nav">
                {{range $navigation}}
                <a href="{{.URL}}" class="nav-link">
                    {{if .Icon}}<span class="nav-icon">{{.Icon}}</span>{{end}}
                    <span class="nav-text">{{.Title}}</span>
                </a>
                {{end}}
            </div>
        </div>
        
        <div class="navbar-toggle">
            <button class="menu-toggle" aria-label="Toggle menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </nav>
</header>
{{- else if eq $context.Format "markdown" -}}
{{if $navigation}}
## Navigation

{{range $navigation}}
- {{if .Icon}}{{.Icon}} {{end}}[{{.Title}}]({{.URL}})
{{end}}

{{end}}
{{- end -}}